<!DOCTYPE html>
<html>
<head>
	<title>Registro</title>
</head>
<body>
	<form method="POST">
	{% csrf_token %}
	{{ form.as_p }}
	<button class="btn btn-lg btn-primary btn-block" type="submit">Register</button>
	</form>
</body>
{% if sucess_message %}
	<script type="text/javascript">
		alert('{{sucess_message}}')
	</script>
{% endif %}
</html>